.home {
  min-height: 100vh;
  background-color: #064789;
  color: white;
  padding-inline: 3vw;
}

main {
  padding-top: 5rem;

  h1 {
    font-size: clamp(32px, 4vw, 7rem);
    text-transform: uppercase;
  }

  ul {
    margin-top: 5rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
}