.home {
  min-height: 100vh;
  background-color: #E1F2FE;
}

.hero {
  background-color: #0099ff;
  min-height: 350px;
  position: relative;
  padding-inline: 3rem;

  & h1 {
    padding-top: 10rem;
    font-size: 4rem;
    color: white;
  }
}

.content {
  height: 100vh;
}