// ==========
// Dashbarod One
// ==========
$dash-one-bg-blue: #F5F5FD;
$dash-one-shadow-blue: #a4a4c343;
$dash-one-bg-darker-blue: #ECECF6;
$dash-one-white: #F5F6FB;
$dash-one-black: #14121F;
$dash-one-red: #EA001B;
$master-card-red: #EA001B;
$master-card-yellow: #F79F1A;