$master-card-red: #EA001B;
$master-card-yellow: #F79F1A;

$dash-one-bg-blue: #F5F5FD;
$dash-one-shadow-blue: #a4a4c343;
$dash-one-bg-darker-blue: #ECECF6;
$dash-one-white: #F5F6FB;
$dash-one-black: #14121F;
$dash-one-red: #EA001B;

$fleet-text: #33373D;
$fleet-green: #0D8A72;
$fleet-accent: #F4F5F6;
$fleet-bar-orange: #FFB94D;
$fleet-bar-green: #2CBB79;
$fleet-bar-light-green: #61d4c6;
$fleet-bar-red: #EF6454;
$fleet-bar-darker-green: #82e0d1;

$project-bg: #E7E9FD;
$project-linear-light: linear-gradient(45deg, #F7F7FF 0%, #EBECFF 100%);

$project-theme: #6059F7;
$project-linear-theme: linear-gradient(135deg, #8C4AF2 0%, #6986f9 100%);